<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增岗位')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-post-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">申请原因：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="eReason" id="ereason" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">申请任务：</label>
<div class="select-list">
                <ul>
                    <li>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <select name="tText"  id="tText" th:with="texts=${@task.slectTaskText()}">
                            <option>请选择</option>
                            <option th:each="text:${texts}" th:text="${text.getTText()}" th:value="${text.getTId()}")></option>
                        </select>
                    </li>
                </ul>
</div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">延迟时间：</label>
            <div class="col-sm-8">
                        <input type="datetime-local" class="form-control" id="eEndtime" placeholder="延迟时间" name="eEndtime" />


            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">申请人：</label>
             <div class="select-list">
                 <ul>
                     <li>
                         <span>&nbsp;&nbsp;&nbsp;</span>
                         <select name="uDep"  id="uDep">
                         <option>请选择</option>
                         </select>
                         <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                         <select name="uName" id="uName">
                         <option>请选择</option>
                         </select>
                     </li>
                 </ul>
             </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<script>
    var prefix = ctx + "task/build/depList";
    var prefix1 = ctx+  "task/build/sNameList";


 $(function(){

     $.get(prefix, function(data) {
  console.log(data.length)
         for (var i = 0; i < data.length; i++) {
             $("#uDep").append(
                 "<option id='o1'value='"+ data[i].deptId+"'>"
                 + data[i].deptName + "</option>")
         }

     }, "json")
 })
    $("#uDep").change(function () {
        $("#uName").empty();
        $("#uName").append("<option > 请选择 </option>");
        var sName=$("#uDep").find("option:selected").val();
       console.log(sName)
        $.get(
          prefix1,{"sName":sName},function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#uName").append(
                        "<option id='o2'value='"+ data[i].sname+"'>"
                        + data[i].sname + "</option>")
                }

            },"json"

        )
    })
</script>

<script>
    var prefix2= ctx + "task/apply/addApply";
    function submitHandler() {
            $.operate.save(prefix2, $('#form-post-add').serialize());
    }
</script>
</body>
</html>
