<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('任务列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="post-form">
                <div class="select-list">
                    <ul>
                        <li>
                            申请人：<input type="text" name="uName"/>
                        </li>

                        <li>
                            部门： <select name="uDep"  id="dep" th:with="deps=${@staffService.getDeps()}">
                            <option value="">所有</option>
                            <option th:each="dep:${deps}" th:text="${dep.getDeptName()}" th:value="${dep.getDeptName()}" ></option>
                        </select>
                        </select>
                        </li>
                        <li>
                            审核情况： <select name="eStatus"  id="eStatus" >
                            <option vlaue=""></option>
                            <option value="1">同意</option>
                            <option value="2">不同意</option>
                            <option value="0">审核中</option>
                        </select>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="bulletin:content:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="task:apply:edit">
                <i class="fa fa-edit"></i> 审批
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="bulletin:content:remove">
                <i class="fa fa-remove"></i> 删除
            </a>


        </div>


        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('task:apply:edit')}]];
    var removeFlag = [[${@permission.hasPermi('task:apply:remove')}]];
    var datas = [[${@dict.getType('sys_normal_disable')}]];
    var prefix = ctx + "task/apply";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",

            /* sortName: "postSort",
             modalName: "岗位",*/
            columns: [{
                checkbox: true
            },
                {
                    field: 'eid',
                    title: '申请编号'
                },
                {
                    field: 'uname',
                    title: '申请人',
                    sortable: true
                },
                {
                    field: 'udep',
                    title: '部门',
                    sortable: true
                },

                {
                    field: 'ttext',
                    title: '申请任务',
                    sortable: true
                },
                {
                    field: 'estarttime',
                    title: '延迟到时间',
                    sortable: true
                },
                {
                    field: 'ereason',
                    title: '申请原因',
                    sortable: true
                },

                {
                    field: 'estatus',
                    title: '审批情况',
                    sortable: true,
                    formatter: function(value, row, index) {

                        console.log("value:"+value)
                        if(value==0){

                            return "审核中";
                        }
                        else if(value==1){

                            return "同意";
                        }else{

                            return "不同意";
                        }
                    }
                }, {
                    field: 'einfo',
                    title: '审批详情',
                    sortable: true,

                },

            ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>