<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增岗位')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-post-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">任务标题：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="tTitle" id="tTitle" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">完成时间：</label>
            <div class="col-sm-8">
                <input type="datetime-local" class="form-control" id="tStart" placeholder="开始时间" name="tStart" />
                <span class="form-control">到</span>
                <input type="datetime-local" class="form-control" id="tEnd" placeholder="结束时间" name="tEnd">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">执行人员：</label>
            <div class="select-list">
                <ul>
                    <li>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <select name="depName"  id="dep">
                            <option>请选择</option>
                        </select>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <select name="sName" id="sName">
                            <option>请选择</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<script>
    var prefix = ctx + "task/build/depList";
    var prefix1 = ctx+  "task/build/sNameList";
    $(function(){
        $.get(prefix, function(data) {
            console.log(data.length)
            for (var i = 0; i < data.length; i++) {
                $("#dep").append(
                    "<option id='o1'value='"+ data[i].deptId+"'>"
                    + data[i].deptName + "</option>")
            }

        }, "json")
    })
    $("#dep").change(function () {
        $("#sName").empty();
        $("#sName").append("<option > 请选择 </option>");
        var sName=$("#dep").find("option:selected").val();
        console.log(sName)
        $.get(
            prefix1,{"sName":sName},function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#sName").append(
                        "<option id='o2'value='"+ data[i].sname+"'>"
                        + data[i].sname + "</option>")
                }

            },"json"

        )
    })
</script>

<script>
    var prefix2= ctx + "task/build/addTask";
    function submitHandler() {
        $.operate.save(prefix2, $('#form-post-add').serialize());
    }
</script>
</body>
</html>