<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改岗位')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-task-edit" th:object="${taskEdit}">
        <input id="contentId" name="contentId" type="hidden" th:field="*{tId}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label">任务标题：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="tTitle" id="tTitle" th:field="*{tTitle}" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">执行人员：</label>

            <div class="select-list">
                <ul>
                    <li>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <select name="depName"  id="dep" th:with="deps=${@staffService.getDeps()}">
                            <option th:each="dep:${deps}" th:text="${dep.getDeptName()}" th:value="${dep.getDeptId()}" th:selected="(*{depName}==${dep.getDeptName()}? true:false)"></option>
                        </select>

                        <select name="sName"  id="sName" >

                            <option  th:each="sname:${list}" th:text="${sname.getSName()}" th:value="${sname.getSName()}" th:selected="(*{sName}==${sname.getSName()}? true:false)" ></option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
<!--        <div class="form-group">
            <label class="col-sm-3 control-label">执行人员：</label>
            <div class="select-list">
                <ul>
                    <li>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <select name="depName"  id="dep">

                        </select>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <select name="sName" id="sName">

                        </select>
                    </li>
                </ul>
            </div>
        </div>-->







        <div class="form-group">
            <label class="col-sm-3 control-label">紧急程度：</label>
            <div class="col-sm-8">
                <select  class="form-control"  name="tStatus" th:with="types=${@task.selectLevel()}">
                    <option th:each="type : ${types}" th:text="${type.getLType()}" th:value="${type.getLStatusid()}" th:selected="(*{tStatus} == ${type.getLId()} ? true:false)"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">任务内容：</label>
            <div class="col-sm-8">
                <textarea class="form-control" type="text" name="tText" id="tText" required>[[*{tText}]]</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">是否完成：</label>
            <div class="col-sm-8">
                <select  class="form-control"  name="tComplete">
                    <option th:text="完成" th:value="1"  th:selected="${taskEdit.tComplete eq 1}"></option>
                    <option th:text="未完成" th:value="0" th:selected="${taskEdit.tComplete eq 0}"></option>
                </select>
            </div>
        </div>

    </form>
</div>

<script>




</script>
<th:block th:include="include :: footer" />
<script>
    var prefix = ctx + "task/build/depList";
    var prefix1 = ctx+  "task/build/sNameList";
    var prfix2=ctx+"task/build/findSname"

   /* $(function(){

        $.get(prefix, function(data) {
            console.log(data.length)
            for (var i = 0; i < data.length; i++) {
                $("#dep").append(
                    "<option id='o1'value='"+ data[i].deptId+"'>"
                    + data[i].deptName + "</option>")
            }

        }, "json")
    })*/

    $("#dep").change(function () {
        $("#sName").empty();
        $("#sName").append("<option > 请选择 </option>");
        var sName=$("#dep").find("option:selected").val();
        console.log(sName)
        $.get(
            prefix1,{"sName":sName},function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#sName").append(
                        "<option id='o2'value='"+ data[i].sname+"'>"
                        + data[i].sname + "</option>")
                }

            },"json"

        )
    })
</script>

<script>
    var prefix2= ctx + "task/build/editTask";
    function submitHandler() {
        $.operate.save(prefix2, $('#form-task-edit').serialize());
    }
</script>
</body>
</html>
