<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('员工个人信息')" />
</head>
<body class="gray-bg" style="font: 14px Helvetica Neue, Helvetica, PingFang SC, 微软雅黑, Tahoma, Arial, sans-serif !important;">
<input id="sJobNum" name="sJobNum" type="hidden" th:value="${staff.sJobNum}" />
<section class="section-content">
    <div class="row">
        <div class="col-sm-3 pr5">
        </div>
        <div class="col-sm-6 pr5">
            <div class="ibox float-e-margins">
                <div class="ibox-title ibox-title-gray dashboard-header gray-bg">
                    <h5>员工个人信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="text-center">
                        <p><img class="img-circle img-lg" th:src="(${staff.dAvatar} == '') ? @{/img/profile.jpg} : @{${staff.dAvatar}}"></p>
                    </div>
                    <ul class="list-group list-group-striped">
                        <li class="list-group-item"><i class="fa fa-user"></i>
                            <b class="font-noraml">员工姓名：</b>
                            <p class="pull-right">[[${staff.sName}]]</p>
                        </li>
                        <li class="list-group-item"><i class="fa fa-group"></i>
                            <b  class="font-noraml">性别：</b>
                            <p class="pull-right" >[[${staff.dSex == 1 ? '男' : '女'}]]</p>
                        </li>
                        <li class="list-group-item"><i class="fa fa-calendar"></i>
                            <b  class="font-noraml">生日：</b>
                            <p class="pull-right" >[[${#dates.format(staff.dBirth, 'yyyy-MM-dd')}]]</p>
                        </li>
                        <li class="list-group-item"><i class="fa fa-phone"></i>
                            <b  class="font-noraml">学历：</b>
                            <p class="pull-right">[[${staff.dEdu}]]</p>
                        </li>
                        <li class="list-group-item"><i class="fa fa-phone"></i>
                            <b  class="font-noraml">专业：</b>
                            <p class="pull-right">[[${staff.dMajor}]]</p>
                        </li>
                        <li class="list-group-item"><i class="fa fa-phone"></i>
                            <b  class="font-noraml">工作年限：</b>
                            <p class="pull-right">[[${staff.dYear}]]</p>
                        </li>
                        <li class="list-group-item"><i class="fa fa-phone"></i>
                            <b  class="font-noraml">政治面貌：</b>
                            <p class="pull-right">[[${staff.dFace}]]</p>
                        </li>
                        <li class="list-group-item"><i class="fa fa-phone"></i>
                            <b  class="font-noraml">籍贯：</b>
                            <p class="pull-right">[[${staff.dPlace}]]</p>
                        </li>
                        <li class="list-group-item"><i class="fa fa-phone"></i>
                            <b  class="font-noraml">手机号码：</b>
                            <p class="pull-right">[[${staff.sPhone}]]</p>
                        </li>
                        <li class="list-group-item"><i class="fa fa-envelope-o"></i>
                            <b  class="font-noraml">邮箱地址：</b>
                            <p class="pull-right" >[[${staff.dEmail}]]</p>
                        </li>
                        <li class="list-group-item"><i class="fa fa-phone"></i>
                            <b  class="font-noraml">家庭住址：</b>
                            <p class="pull-right">[[${staff.dAddress}]]</p>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3 pr5">
        </div>
    </div>
</section>

<th:block th:include="include :: footer" />
</body>
</html>
