<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('项目管理')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>

<div class="btn-group-sm" id="toolbar" role="group">
    <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="knowledge:read:add">
        <i class="fa fa-plus"></i> 新增
    </a>
    <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="knowledge:read:edit">
        <i class="fa fa-edit"></i> 修改
    </a>
    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="knowledge:read:remove">
        <i class="fa fa-remove"></i> 删除
    </a>
</div>


<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "knowledge/read";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            columns: [{
                checkbox: true
            },
                {
                    field : 'kid',
                    title : '用户ID'
                },
                {
                    field : 'kname',
                    title : '用户姓名'
                },
                {
                    field : 'kcontent',
                    title : '描述'
                },  {
                    field : 'ktype',
                    title : '类型',
                    formatter: function(value, row, index) {

                        return value==0 ? '软装':'硬装';
                    }
                },
                {
                    field: 'kurl',
                    title: '图片',
                    formatter: function(value, row, index) {

                            return $.table.imageView(ctx+value);
                    }
                },
                {
                    field : 'kbenchmarking',
                    title : '项目标杆',

                    formatter: function(value, row, index) {

                        return value==0 ? '非标杆项目':'标杆项目';
                    }
                },

                // {
                //     title: '操作',
                //     align: 'center',
                //     formatter: function(value, row, index) {
                //         var actions = [];
                //         // actions.push('<a class="btn btn-success btn-xs" href="#"><i class="fa fa-edit"></i>编辑</a> ');
                //         // actions.push('<a class="btn btn-danger btn-xs" href="#"><i class="fa fa-remove"></i>删除</a>');
                //         return actions.join('');
                //     }
                // }
            ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>