<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('项目管理')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>



<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "knowledge/hard";

    $(function() {
        var options = {
            url: prefix + "/list",
            // createUrl: prefix + "/add",
            // updateUrl: prefix + "/edit/{id}",
            // removeUrl: prefix + "/remove",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            columns: [{
                checkbox: true
            },
                {
                    field : 'kid',
                    title : '用户ID'
                },
                {
                    field : 'kname',
                    title : '用户姓名'
                },
                {
                    field : 'kcontent',
                    title : '描述'
                },  {
                    field : 'ktype',
                    title : '类型',
                    formatter: function(value, row, index) {

                        return value==0 ? '软装':'硬装';
                    }
                },
                {
                    field: 'kurl',
                    title: '图片',
                    formatter: function(value, row, index) {

                        return $.table.imageView(ctx+value);
                    }
                },
                {
                    field : 'kbenchmarking',
                    title : '项目标杆',

                    formatter: function(value, row, index) {

                        return value==0 ? '非标杆项目':'标杆项目';
                    }
                },

            ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>