<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.staff.message.mapper.StaffMapper">
    <resultMap type="com.ruoyi.project.staff.message.domain.Staff" id="staffResult">
        <id property="sId" column="s_id"/>
        <result property="sJobNum" column="s_job_num"/>
        <result property="sName" column="s_name"/>
        <result property="jId" column="j_id"/>
        <result property="sPhone" column="s_phone"/>
        <result property="depId" column="dep_id"/>
        <result property="sDate" column="s_date"/>
        <result property="sStatus" column="s_status"/>
    </resultMap>

    <resultMap type="com.ruoyi.project.staff.message.domain.vo.StaffVO" id="staffVOResult">
        <id property="sId" column="s_id"/>
        <result property="sJobNum" column="s_job_num"/>
        <result property="sName" column="s_name"/>
        <result property="jId" column="j_id"/>
        <result property="sPhone" column="s_phone"/>
        <result property="depId" column="dep_id"/>
        <result property="sDate" column="s_date"/>
        <result property="sStatus" column="s_status"/>
        <result property="jobName" column="j_name"/>
        <result property="deptName" column="dep_name"/>
    </resultMap>

    <resultMap id="depResult" type="com.ruoyi.project.staff.message.domain.Dep">
        <id property="deptId" column="dept_id"/>
        <result property="deptName" column="dep_name"/>
    </resultMap>

    <resultMap id="jobResult" type="com.ruoyi.project.staff.message.domain.StaffJob">
        <id property="jId" column="j_id"/>
        <result property="JName" column="j_name"/>
    </resultMap>

    <sql id="selectStaffResult">
        select s_id,
               s_job_num,
               s_name,
               j_id,
               s_phone,
               dep_id,
               s_date,
               s_status
        from t_staff
    </sql>

    <sql id="selectStaffVOResult">
        select staff.s_id,
               staff.s_job_num,
               staff.s_name,
               staff.j_id,
               staff.s_phone,
               staff.dep_id,
               staff.s_date,
               staff.s_status,
               dep.dep_name,
               job.j_name
        from t_staff staff
                     join t_dep dep on
                staff.dep_id = dep.dept_id
                     join t_job job on job.j_id = staff.j_id
    </sql>

    <sql id="selectDepResult">
        select dept_id, dep_name
        from t_dep
    </sql>

    <select id="selectStaffList" resultMap="staffVOResult" parameterType="staff">
        <include refid="selectStaffVOResult">
        </include>
        <where>
            <if test="sStatus != null and sStatus != ''">
                AND s_status = #{sStatus}
            </if>
            <if test="depId != null and depId != ''">
                and dep_id = #{depId}
            </if>
            <if test="sJobNum != null and sJobNum != ''">
                and s_job_num = #{sJobNum}
            </if>
            <if test="sName != null and sName != ''">
                and s_name like concat ('%',#{sName},'%')
            </if>
        </where>
    </select>

    <select id="getDeps" resultMap="depResult">
        <include refid="selectDepResult">
        </include>
    </select>

    <insert id="addStaff" parameterType="staff">
        insert into t_staff(
        <if test="sJobNum != null and sJobNum != 0">
            s_job_num,
        </if>
        <if test="sName != null and sName != ''">
            s_name,
        </if>
        <if test="jId != null and jId != ''">
            j_id,
        </if>
        <if test="sPhone != null and sPhone != ''">
            s_phone,
        </if>
        <if test="depId != null and depId != ''">
            dep_id,
        </if>
        s_date
        )values(
        <if test="sJobNum != null and sJobNum != 0">
            #{sJobNum},
        </if>
        <if test="sName != null and sName != ''">
            #{sName},
        </if>
        <if test="jId != null and jId != ''">
            #{jId},
        </if>
        <if test="sPhone != null and sPhone != ''">
            #{sPhone},
        </if>
        <if test="depId != null and depId != ''">
            #{depId},
        </if>
        sysdate()
        )
    </insert>

    <select id="getJobs" resultMap="jobResult">
        select j_id, j_name
        from t_job
    </select>

    <select id="checkSJobNumUnique" resultType="int">
        select count(0)
        from t_staff
        where s_job_num = #{sJobNum}
    </select>

    <select id="selectStaffByJobNum" resultMap="staffResult">
        <include refid="selectStaffResult">
        </include>
        where s_job_num = #{sJobNum}
    </select>

    <update id="editStaff" parameterType="staff">
        update t_staff
        <set>
            <if test="sJobNum != null and sJobNum != 0">
                s_job_num = #{sJobNum},
            </if>
            <if test="sName != null and sName != ''">
                s_name = #{sName},
            </if>
            <if test="jId != null and jId != ''">
                j_id = #{jId},
            </if>
            <if test="sPhone != null and sPhone != ''">
                s_phone = #{sPhone},
            </if>
            <if test="depId != null and depId != ''">
                dep_id = #{depId},
            </if>
        </set>
        where s_id = #{sId}
    </update>

    <select id="getStaffByDepId" resultMap="staffResult">
        <include refid="selectStaffResult">
        </include>
        where dep_id = #{depId}
    </select>

    <select id="selectAll" resultMap="staffResult">
        <include refid="selectStaffResult"/>
        where j_id = 1
    </select>

    <select id="getDepsById" resultMap="depResult">
        <include refid="selectDepResult">
        </include>
       where dept_id = #{depId}
    </select>

    <select id="selectByName" resultMap="depResult">
        <include refid="selectDepResult">
        </include>
        where dep_name = #{depName}
    </select>

    <select id="selectNameList" resultMap="staffResult">
       <include refid="selectStaffResult"></include>
    </select>

    <select id="selectStaffByName" resultMap="depResult">
    <include refid="selectDepResult"></include>
    where dep_name= #{depName}
    </select>

    <resultMap id="staffDetailResult" type="com.ruoyi.project.staff.message.domain.StaffDetail">
        <id property="dId" column="d_id"/>
        <result property="sName" column="s_name"/>
        <result property="dPlace" column="d_place"/>
        <result property="sPhone" column="s_phone"/>
        <result property="sJobNum" column="s_job_num"/>
        <result property="dAvatar" column="d_avatar"/>
        <result property="dAddress" column="d_address"/>
        <result property="dEmail" column="d_email"/>
        <result property="dFace" column="d_face"/>
        <result property="dYear" column="d_year"/>
        <result property="dMajor" column="d_major"/>
        <result property="dEdu" column="d_edu"/>
        <result property="dBirth" column="d_birth"/>
        <result property="dSex" column="d_sex"/>
    </resultMap>

    <select id="selectStaffDetailByJobNum" resultMap="staffDetailResult">
        select * from t_staff_detail t1 join t_staff t2 on
        t1.s_job_num = t2.s_job_num
        where t1.s_job_num = #{sJobNum}
    </select>

    <delete id="removeStaff" parameterType="Long">
        delete from t_staff where s_job_num in
            <foreach collection="array" item="jobNum" open="(" separator="," close=")">
                #{jobNum}
            </foreach>
    </delete>
</mapper>