<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.staff.message.mapper.StaffMapper">
    <resultMap type="com.ruoyi.project.staff.message.domain.Staff" id="staffResult">
        <id property="sId" column="s_id"/>
        <result property="sJobNum" column="s_job_num"/>
        <result property="sName" column="s_name"/>
        <result property="jId" column="j_id"/>
        <result property="sPhone" column="s_phone"/>
        <result property="depId" column="dep_id"/>
        <result property="sDate" column="s_date"/>
        <result property="sStatus" column="s_status"/>
    </resultMap>

    <resultMap type="com.ruoyi.project.staff.message.domain.vo.StaffVO" id="staffVOResult">
        <id property="sId" column="s_id"/>
        <result property="sJobNum" column="s_job_num"/>
        <result property="sName" column="s_name"/>
        <result property="jId" column="j_id"/>
        <result property="sPhone" column="s_phone"/>
        <result property="depId" column="dep_id"/>
        <result property="sDate" column="s_date"/>
        <result property="sStatus" column="s_status"/>
        <result property="jobName" column="j_name"/>
        <result property="deptName" column="dep_name"/>
    </resultMap>

    <resultMap id="depResult" type="com.ruoyi.project.staff.message.domain.Dep">
        <id property="deptId" column="dept_id"/>
        <result property="deptName" column="dep_name"/>
    </resultMap>

    <resultMap id="jobResult" type="com.ruoyi.project.staff.message.domain.StaffJob">
        <id property="jId" column="j_id"/>
        <result property="JName" column="j_name"/>
    </resultMap>

    <sql id="selectStaffResult">
        select s_id,
               s_job_num,
               s_name,
               j_id,
               s_phone,
               dep_id,
               s_date,
               s_status
        from t_staff
    </sql>

    <sql id="selectStaffVOResult">
        select staff.s_id,
               staff.s_job_num,
               staff.s_name,
               staff.j_id,
               staff.s_phone,
               staff.dep_id,
               staff.s_date,
               staff.s_status,
               dep.dep_name,
               job.j_name
        from t_staff staff
                     join t_dep dep on
                staff.dep_id = dep.dept_id
                     join t_job job on job.j_id = staff.j_id
    </sql>

    <sql id="selectDepResult">
        select dept_id, dep_name
        from t_dep
    </sql>

    <select id="selectStaffList" resultMap="staffVOResult" parameterType="staff">
        <include refid="selectStaffVOResult">
        </include>
        <where>
            <if test="sStatus != null and sStatus != '' || sStatus == 0">
                AND s_status = #{sStatus}
            </if>
            <if test="depId != null and depId != ''">
                and dep_id = #{depId}
            </if>
            <if test="sJobNum != null and sJobNum != ''">
                and s_job_num = #{sJobNum}
            </if>
            <if test="sName != null and sName != ''">
                and s_name like concat ('%',#{sName},'%')
            </if>
        </where>
    </select>

    <select id="getDeps" resultMap="depResult">
        <include refid="selectDepResult">
        </include>
    </select>

    <insert id="addStaff" parameterType="staff">
        insert into t_staff(
        <if test="sJobNum != null and sJobNum != ''">
            s_job_num,
        </if>
        <if test="sName != null and sName != ''">
            s_name,
        </if>
        <if test="jId != null and jId != ''">
            j_id,
        </if>
        <if test="sPhone != null and sPhone != ''">
            s_phone,
        </if>
        <if test="depId != null and depId != ''">
            dep_id,
        </if>
        s_date
        )values(
        <if test="sJobNum != null and sJobNum != 0">
            #{sJobNum},
        </if>
        <if test="sName != null and sName != ''">
            #{sName},
        </if>
        <if test="jId != null and jId != ''">
            #{jId},
        </if>
        <if test="sPhone != null and sPhone != ''">
            #{sPhone},
        </if>
        <if test="depId != null and depId != ''">
            #{depId},
        </if>
        sysdate()
        )
    </insert>

    <select id="getJobs" resultMap="jobResult">
        select j_id, j_name
        from t_job
    </select>

    <select id="checkSJobNumUnique" resultType="int">
        select count(0)
        from t_staff
        where s_job_num = #{sJobNum}
    </select>

    <select id="selectStaffByJobNum" resultMap="staffResult">
        <include refid="selectStaffResult">
        </include>
        where s_job_num = #{sJobNum}
    </select>

    <update id="editStaff" parameterType="staff">
        update t_staff
        <set>
            <if test="sJobNum != null and sJobNum != 0">
                s_job_num = #{sJobNum},
            </if>
            <if test="sName != null and sName != ''">
                s_name = #{sName},
            </if>
            <if test="jId != null and jId != ''">
                j_id = #{jId},
            </if>
            <if test="sPhone != null and sPhone != ''">
                s_phone = #{sPhone},
            </if>
            <if test="depId != null and depId != ''">
                dep_id = #{depId},
            </if>
            <if test="sStatus != null and sStatus != '' || sStatus == 0">
                s_status = #{sStatus}
            </if>
        </set>
        where s_id = #{sId}
    </update>

    <select id="getStaffByDepId" resultMap="staffResult">
        <include refid="selectStaffResult">
        </include>
        where dep_id = #{depId}
    </select>

    <delete id="removeStaff" parameterType="staff">
        delete from t_staff where s_job_num in
        <foreach collection="array" item="sJobNum" open="(" separator="," close=")">
            #{sJobNum}
        </foreach>
    </delete>

    <resultMap id="staffDetailResult" type="com.ruoyi.project.staff.message.domain.StaffDetail">
        <id column="d_id" property="dId"/>
        <result column="d_sex" property="dSex"/>
        <result column="d_birth" property="dBirth"/>
        <result column="d_edu" property="dEdu"/>
        <result column="d_major" property="dMajor"/>
        <result column="d_year" property="dYear"/>
        <result column="d_face" property="dFace"/>
        <result column="d_email" property="dEmail"/>
        <result column="d_address" property="dAddress"/>
        <result column="d_place" property="dPlace"/>
        <result column="d_avatar" property="dAvatar"/>
        <result column="s_job_num" property="sJobNum"/>
        <result column="s_phone" property="sPhone"/>
        <result column="s_name" property="sName"/>
    </resultMap>

    <select id="selectStaffDetailByJobNum" resultMap="staffDetailResult" parameterType="int">
        select t1.d_id,
               t1.d_sex,
               t1.d_birth,
               t1.d_edu,
               t1.d_major,
               t1.d_year,
               t1.d_face,
               t1.d_place,
               t1.d_email,
               t1.d_address,
               t1.d_avatar,
               t1.s_job_num,
               t2.s_name,
               t2.s_phone
        from t_staff_detail t1
                     join t_staff t2 on
                t1.s_job_num = t2.s_job_num
        where t1.s_job_num = #{sJobNum}
    </select>
</mapper>