<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('栅格')"/>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" th:object="${IndentAllVO}">
                            <tbody>
                            <tr>
                                <th class="text-nowrap">项目名称</th>
                                <td colspan="3">[[*{pTitle}]]</td>
                                <td colspan="3"></td>

                            </tr>
                            <tr>
                                <th class="text-nowrap">订单编号</th>
                                <td colspan="3">[[*{pNum}]]</td>
                                <td colspan="3"></td>

                            </tr>
                            <tr>
                                <th class="text-nowrap">项目负责人</th>
                                <td colspan="3">[[*{sName}]]</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <th class="text-nowrap">项目金额</th>
                                <td colspan="3">[[*{pTotal}]]</td>
                                <td colspan="3"></td>

                            </tr>
                            <tr>
                                <th class="text-nowrap">项目周期</th>
                                <td colspan="3">[[*{pPeriod}]]</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <th class="text-nowrap">订单类别</th>
                                <td colspan="3">[[*{cType}]]</td>
                                <td colspan="3"></td>
                            </tr>
                            </tbody>

                            <tr>
                                <th>
                                    客户信息
                                </th>
                                <th colspan="3"></th>
                                <th colspan="3"></th>
                            </tr>
                            <tr>
                                <th>
                                    客户编号
                                </th>
                                <th>
                                    客户名称
                                </th>
                                <th>
                                    客户类型
                                </th>
                                <th>
                                    客户公司名称
                                </th>
                                <th>
                                    联系方式
                                </th>
                                <th>
                                    客户备注信息
                                </th>
                            </tr>

                            <tbody>
                            <tr>
<!--                                <td><div ><input name="cId" type="text"></div></td>-->
                                <td>[[*{cId}]]</td>
                                <td>[[*{cName}]]</td>
                                <td>[[*{cType}]]</td>
                                <td>[[*{cCompany}]]</td>
                                <td>[[*{cPhone}]]</td>
                                <td>[[*{cRemark}]]</td>
                            </tr>
                            </tbody>


                            <tr>
                                <th>
                                    订单形象-项目详情
                                </th>
                                <th colspan="3"></th>
                                <th colspan="3"></th>
                            </tr>
                            <tr>
                                <th>
                                    项目内容
                                </th>
                                <th>
                                    项目风格
                                </th>
                                <th>
                                    项目类型
                                </th>
                                <th>
                                    项目订立时间
                                </th>
                                <th>
                                    项目完成时间
                                </th>
                                <th>
                                    备注
                                </th>
                            </tr>

                            <tbody>
                            <tr>
                                <td>[[*{pText}]]</td>
                                <td>[[*{pStyle}]]</td>
                                <td>[[*{pTypeName}]]</td>
                                <td th:text="${#dates.format(IndentAllVO.pStart,'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td th:text="${#dates.format(IndentAllVO.pEnd,'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td>[[*{pRemark}]]</td>
                            </tr>
                            </tbody>

                            <tr>
                                <th>
                                    订单形象-产品详情
                                </th>
                                <th colspan="3"></th>
                                <th colspan="3"></th>
                            </tr>
                            <tr>
                                <th>
                                    产品编号
                                </th>
                                <th>
                                    产品名称
                                </th>
                                <th>
                                    数量
                                </th>
                                <th>
                                    单价
                                </th>
                                <th>
                                    总额
                                </th>
                                <th>
                                    备注
                                </th>
                            </tr>

                            <tbody>
                            <tr>
                                <td>[[*{productModel}]]</td>
                                <td>[[*{productName}]]</td>
                                <td>[[*{productNum}]]</td>
                                <td>[[*{productPrice}]]</td>
                                <td>[[*{productNum * productPrice}]]</td>
                                <td>[[*{productRemark}]]</td>
                            </tr>
                            </tbody>



                        </table>


                    </div>


                </div>
            </div>
        </div>

    </div>

</div>
<th:block th:include="include :: footer"/>
</body>
</html>
