<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('项目类型')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-type-edit" th:object="${indentType}">
        <input id="dId" name="dId" type="hidden" th:field="*{dId}"/>

        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <textarea id="remark" name="remark" class="form-control">[[*{dRemark}]]</textarea>
            </div>
        </div>
    </form>

<th:block th:include="include :: footer" />
<script type="text/javascript">
    var prefix = ctx + "market/type";

    $("#form-type-edit").validate({
        onkeyup: false,
        rules:{
            postName:{
                remote: {
                    url: ctx + "market/type/checkTypeNameUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "dId": function() {
                            return $("input[name='dId']").val();
                        },
                        "dName" : function() {
                            return $.common.trim($("#dName").val());
                        }
                    },
                    dataFilter: function(data, type) {
                        return $.validate.unique(data);
                    }
                }
            },

        },
        postSort:{
            digits:true
        },
        messages: {

            "dName": {
                remote: "订单类型名称已经存在"
            }
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-type-edit').serialize());
        }
    }
</script>
</body>
</html>
